// Import your custom variables file
@import 'variables';
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-brand > img {
    display: inline-block;
    vertical-align: middle;
    max-height: 35px;
}

.bg-dark-subtle {
    background-color: #e6e6e6;
}